body {
  background: lightgray;
  color: #666666;
  font-family: 'Hind Siliguri', sans-serif;
}

a {
  color: #480059;
  font-weight: 600;
}

a:hover, a:active, a:focus {
  color: darkgreen;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #41055c;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 800;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 28px;
  color: #41055c;
}

/*  Home stying */

#home {
  color: rgb(126, 33, 102);
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

#home button {
  background-color: #480059;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
}

.home-details {
  text-align: center;
}

#home table td, th {
  border: 4px solid teal;
  color: rgb(95, 22, 231);
  box-shadow: 5px 10px #888888;
}

#home th {
  height: 60px;
  width: 140px;
  background-color: rgb(24, 238, 31);
  color: white;
  text-align: center;
}

#home td, tr {
  width: 140px;
  text-align: center;
  font-weight: bold;
}

#home h1 {
  font-weight: bold;
  color: rgb(221, 10, 28);
  text-shadow: 1px 1px black;
}

#home h2 {
  padding-top: 2%;
  font-weight: bold;
  color: blue;
  text-shadow: 1px 3px gold;
  text-decoration: underline;
}

#home h3 {
  padding-top: 2%;
  font-weight: bold;
  color: rgb(235, 59, 205);
  text-shadow: 1px 3px rgb(113, 20, 206);
}

#home p {
  margin-top: 15px;
  color: darkblue;
  text-shadow: 1px 3px rgb(20, 206, 197);
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-duration: 5s linear infinite;
  animation-name: mymove;
  animation-duration: 10s;
}

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 800px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

img {
  width: 50%;
  height: auto;
}

/* Footer Section Styling */

#footer {
  padding-top: 20px;
  background: #02052c;
  margin-top: 20px;
}

#footer p {
  color: antiquewhite;
  text-align: center;
  font-size: 20px;
}

.footer-head {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #929292;
}
